doctype html
html(lang="ru")
  head
    title= title
  body
    header
      a(href="/") Главная
      |  
      a(href="/users") Пользователи
    main
      block content
    footer
      p © Белоусова