extends ../layout/page

block content
  h1 Создание нового пользователя
  
  form(action="/users" method="post")
    div
      label
        | Имя:
        input(type="text" name="username")
    div
      label
        | Email:
        input(type="email" name="email" required)
    div
      label
        | Пароль:
        input(type="password" name="password" required)
    div
      label
        | Подтверждение пароля:
        input(type="password" name="passwordConfirm" required)
    input(type="submit" value="Зарегистрировать")